.imagemreceita1{
    max-width: auto;
    margin: 0 auto;
    background: #EADEE0;
    font-size: 35px;
    padding: 0px;
}
.parallax{
    background: url("../images/test.jpg") no-repeat center;
    background-size:cover;
    background-attachment: fixed;
    height: 500px;
}
.informacoes2{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
.image-container, .materiais{
	width: 46%;
	margin: 0 2%;
}
.materiais h3{
	text-align: center;
}
.materiais ul{
	margin: 0 auto;
	width: max-content;
}
.imagemreceita2{
    width: 100%;
	min-width: 650px;
    background: url("../images/placeholder.png");
    font-size: 35px;
    padding-left: 15px;
    padding-top: 400px;
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}
.informacoes{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.aerobico-idade{
	width: 46%;
	margin-right: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.aerobico-idade p{
	text-align: center;
}
.idade, .aerobico{
	margin: 20px;
}
.titulo-desc{
	width: 46%;
	margin-left: 2%;
    text-align: justify;
}
.informacoes3{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}
.modo, .beneficios{
	width: 46%;
	margin: 0 2%;
}
@media (max-width: 1130px){
	.informacoes2{
		display: block;
	}
	.image-container, .materiais{
		width: 96%;
		margin: 0 auto;
	}
	.imagemreceita2{
		width: 70%;
		min-width: 0;
		margin: 0 auto;
	}
	.materiais{
		margin-top: 15px;
	}
}
@media (max-width: 809px){
	.informacoes{
		display: block;
	}
	.titulo-desc, .aerobico-idade{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.aerobico-idade{
		display: inline-block;
	}
	.titulo-desc p{
		text-align: justify;
		margin: 0 25px;
	}
	.imagemreceita2{
		padding-top: 300px;
	}
}
@media (max-width: 700px){
	.imagemreceita2{
		padding-top: 250px;
		width: 85%;
	}
}
@media (max-width: 650px){
	.informacoes3{
		display: block;
	}
	.modo, .beneficios{
		width: 96%;
	}
	.modo h4, .beneficios h4{
		text-align: center;
	}
	

	}