.container{
    margin: 30px auto;
    width: 80%;
}
.container .titulo{
    width: max-content;
    margin: 60px auto 30px auto;
    color: #a1b900;
    font-size: 35px;
}
#de-lazer{
    color: #a1b900;
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #EADEE0 50%, #a1b900 50%);
    animation: saudaveis 1s both .75s;
}
@keyframes saudaveis{
    100%{
        color: white;
        background-position: -100% 0;
    }
}
.left{
    justify-content: left;
}
.left img{
    margin-right: 25px;
}
.right{
    justify-content: right;
    text-align: right;
    margin-right: 0;
    float: right;
}
.right img{
    margin-left: 25px;
}
.atividade{
    width: 70%;
    display: flex;
    align-items: flex-start;
    margin: 25px 0;
}
.atividade img{
    width: 275px;
    height: 275px;
}
.diferenca{
    text-align: center;
}
.diferenca p{
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 80px;
}
@media (max-width: 1175px){
    .atividade{
        width: 100%;
    }
}
@media (max-width: 715px){
    .atividade{
        display: block;
        text-align: center;
        margin: 100px 0;
    }
    .atividade img{
        margin: 25px auto;
    }
}