.receitas-container{
    display: inline-block;
    margin: 30px 5%;
    width: 90%;
    text-align: center;
    z-index: 2;
}
.receitas-titulo{
    margin: 30px auto;
    font-weight: bold;
    color: #a1b900;
    width: max-content;
}
#saudaveis{
    color: #a1b900;
    padding: 5px;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #EADEE0 50%, #a1b900 50%);
    animation: saudaveis 1s both .75s;
}
@keyframes saudaveis{
    100%{
        color: white;
        background-position: -100% 0;
    }
}
.receita{
    display: inline-block;
    position: relative;
    width: 30%;
    max-width: 570px;
    min-width: 400px;
    min-height: 300px;
    text-decoration: none;
    transition: .5s all;
    margin: 10px;
    background-color: #D4DD9B;
    border-radius: 5px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.receita h3{
    color: white;
    font-size: 17px;
    font-weight: 550;
    position: absolute;
    bottom: 8px;
    left: 11px;
    transition: .5s all;
    padding: 3px;
}
.r1{
    background-image: url(../images/vitaminadebanana.jpg);
}
.r2{
    background-image: url(../images/bolodechocolatecommorango.png);
}
.r3{
    background-image: url(../images/bolointegraldebanana.png);
}
.r4{
    background-image: url(../images/omelete.png);
}
.r5{
    background-image: url(../images/panquecadebananacomaveia.png);
}
.r6{
    background-image: url(../images/paodeaveia.png);
}
.r7{
    background-image: url(../images/picoledemorango.png);
}
.r8{
    background-image: url(../images/picoledesaladadefrutas.png);
}
.r9{
    background-image: url(../images/pizzadefrigideira.png);
}
.r10{
    background-image: url(../images/puredebatata.png);
}
.r11{
    background-image: url(../images/saladadefrutas.png);
}
.r12{
    background-image: url(../images/sopadelegumes.png);
}
.espacamento{
    margin-bottom: 20px;
}
@media (max-width: 499px){
    .receita{
        width: 85%;
        min-width: 250px;
        min-height: 160px;
    }
}